*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ddd;
}

/* nav */
nav{
    width: 100%;
    height: 70px;
    background-color: rgb(39, 38, 38);
    border-bottom: 3px solid palevioletred;
    display: flex;
    padding: 20px 25px 0 0;
    box-sizing: border-box;
    justify-content: space-around;
}
.logo h1 {
    color: palevioletred;
    font-family: cursive;
}
ul{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;    
}
li{
    flex-basis: 25%;
    height: 40px;
    list-style: none;
    color: #e8e8e8;
    font-family: open sans,sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* border: 1px solid orange; */
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: .4s;
    position: relative;
}
ul li:active  {
    background-color: rgba(0,0,0,0.5);
}
ul li:hover .select{
    opacity: 1;
}
li .select{
    position: absolute;
    bottom: 0;
    opacity: 0;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid palevioletred;
}
.search{
    flex-basis: 15%;
    height: 35px;
    /* border: 1px solid magenta; */
}
.search input{
    width: 100%;
    height: 35px;
    color: white;
    background-color:#828080;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}
.search input::placeholder{
    color: #e8e8e8;
}
.search input:focus{
    outline: none;
}

/* content */
main{
    border: 1px solid forestgreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 100px;
}
.notice{
    /* flex-basis: 75%; */
    width: 100%;
    height: 30px;
    /* border: 1px solid firebrick; */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: open sans,sans-serif;
}
.notice h3{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 30px;
    background-color: palevioletred;
}
.notice p{
    flex-basis: 90%;
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: rgb(39, 38, 38);
    color: white;
}
.content{
    margin-top: 10px;
    width: 100%;
    /* height: 500px; */
    display: flex;
}

section{
    background-color: darkcyan  ;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
section .galery{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}
.galery .sub-galery{
    width: 100%;
    height: 50px;
    background-color: rgb(39, 38, 38);
    color: #e8e8e8;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    /* border-top-left-radius: 12px;
    border-top-right-radius: 12px; */
}
.galery .box-galery{
    width: 100%;
    height: 250px;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 10px; */
}
.box-galery div{
    width: 17%;
    /* height: 160px; */
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* background-color: rgb(46, 43, 43); */
}
.film-galery .film{
    width: 100%;
    height: 160px;
    background-color: darkgreen;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.film-galery .film-judul{
    width: 100%;
    height: 40px;
    color: #ddd;
    font-family: sans-serif;
    background-color: rgb(39, 38, 38);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px;
}
.new-beranda{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}
.new-beranda .sub-beranda{
    width: 100%;
    height: 50px;
    background-color: rgb(39, 38, 38);
    color: #e8e8e8;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
article{
    width: 100%;
    /* height: 50px; */
    display: flex;
    /* padding: 10px 0; */
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;
}
article .film-beranda{
    width: 100%;
    /* height: 100px; */
    padding: 10px;
    box-sizing: border-box;
    /* background-color: rgb(7, 92, 7); */
    background-color: rgb(17, 63, 17);
    display: flex;
    gap: 10px;
}
.film-beranda .thumbnail{
    width: 180px;
    height: 100px;
    background-color: green;
}

aside{
    flex-basis: 30%;
    background-color: skyblue;
}